{% extends 'base.html.twig' %}

{% block title %}Suite{% endblock %}

{% block body %}
    <h1>Suite</h1>
    <div class="container custom-container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="margin-left: 0;">
                    <img src="{{ asset('uploads/suites/' ~ suite.mainImage) }}" class="card-img-top" alt="{{ suite.title }}" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <h1 class="card-title">{{ suite.title }}</h1>
                        <p class="card-text">Prix : {{ suite.price }} €</p>
                        <a href="{{ path('app_hotel_show', { id: hotel.id }) }}">
                            <button class="btn btn-lg btn-primary" style="width:fit-content">Revenir à la liste des suites de l'hôtel</button>
                        </a>
                        {% if is_granted('ROLE_MANAGER') %}
                            <a href="{{ path('app_suite_edit', {'id': suite.id}) }}">
                                <button class="btn btn-lg btn-primary" style="margin-top:1%">Modifier la suite</button>
                            </a>
                        {% endif %}
                         <a href="{{ path('app_booking_new') }}">
                                <button class="btn btn-lg btn-primary" style="margin-top:1%">Réserver</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
