{% extends 'base.html.twig' %}

{% block title %}Suite{% endblock %}

{% block body %}
    <h1>Suite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suite.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ suite.title }}</td>
            </tr>
            <tr>
                <th>MainImage</th>
                <td>{{ suite.mainImage }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ suite.price }}</td>
            </tr>
            <tr>
                <th>ImageGallery</th>
                <td>{{ suite.imageGallery ? suite.imageGallery|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_suite_index') }}">back to list</a>

    <a href="{{ path('app_suite_edit', {'id': suite.id}) }}">edit</a>

    {{ include('suite/_delete_form.html.twig') }}
{% endblock %}
