{% extends 'base.html.twig' %}

{% block title %}Liste des établissements{% endblock %}

{% block body %}
    <h1>Liste des établissements</h1>

    <div class="container">
        <div class="row">
            {% for hotel in hotels %}
                <div class="col-md-6 mb-4" >
                    <div class="card">
                        <a href="{{ path('app_hotel_show', { id: hotel.id }) }}">
                        <img src="{{ asset('uploads/hotels/' ~ hotel.image) }}" class="card-img-top" alt="{{ hotel.name }}" style="width: 100%; height: auto;">
                        <div class="card-body">
                            <h5 class="card-title">{{ hotel.name }}</h5>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p>Aucun hôtel disponible</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_hotel_new') }}" class="btn btn-primary admin-button">Créer un nouvel hôtel</a>
    {% endif %}
{% endblock %}
