{% extends 'base.html.twig' %}

{% block title %}{{ hotel.name }}{% endblock %}

{% block body %}
    <div class="container custom-container">
        <div class="row">

            <div class="col-md-6"> <!-- 8 out of 12 columns, which is roughly 66% -->
                <div class="card" style="margin-left: 0;"> <!-- Ensure it's aligned to the left -->
                    <img src="{{ asset('uploads/hotels/' ~ hotel.image) }}" class="card-img-top" alt="{{ hotel.name }}" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <h1 class="card-title">{{ hotel.name }}</h1>
                        <p class="card-text">{{ hotel.description }}</p>
                        <a href="{{ path('app_hotel_index') }}" <button class="btn btn-lg btn-primary">Revenir à la liste des hôtels</a>
                        {% if is_granted('ROLE_MANAGER') %}
                            <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}"<button class="btn btn-lg btn-primary">Modifier l'hôtel</a>
                        {% endif %}
                    </div>
                </div>
            </div>

               <div class="col-md-6"> <!-- Column for suites list -->
                    {% if hotel.suites|length > 0 %}
                        <h2>Suites disponibles</h2>
                        <div class="row">
                            {% for suite in hotel.suites %}
                                <div class="col-md-6 mb-3"> <!-- Two suites per row -->
                                    <div class="card">
                                        <a href="{{ path('app_suite_show', {'id': suite.id}) }}">
                                            <img src="{{ asset('uploads/suites/' ~ suite.mainImage) }}" class="card-img-top" alt="{{ suite.title }}" style="width: 100%; height: auto;">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ suite.title }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2>Cet hôtel n'a pas de suites</h2>
                    {% endif %}
                </div>


        </div>
    </div>
{% endblock %}

