<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hôtel Clair de Lune{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
        {% endblock %}

    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/hotel">Hotels</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('app_user_show', {'id': app.user.id}) }}">Mon profil</a></li>
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_user_new') }}">Inscription</a></li>
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <!-- jQuery, Popper.js, and Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
